@import "../../../../packages/design/src/style.css";

.layout {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #ffffff;
}

.layout > main {
  margin-bottom: 84px;
  margin-top: 4rem;
  flex-grow: 1;
}

@media (min-width: 640px) {
  .layout > main {
    margin-top: 5rem;
  }
}
